<div class="row">
	<div class="col-sm-6">
		<h1>Contact Us</h1>
		<p ><strong> Banh canh ghe Ba Sach </strong></p>
		<p><span class="glyphicons glyphicons-map-marker"></span>66 Hoa Cúc, phường 7, Phú Nhuận, Hồ Chí Minh, Vietnam</p>
		<p><span class="glyphicons glyphicons-phone-alt"></span> <span>0122334455</span></p>
	</div>
	<div class="col-sm-6">

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.170794379176!2d106.68771264985627!3d10.79822756170713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cfb6a27d69%3A0xeaf65307abd3cee4!2zNjYgSG9hIEPDumMsIHBoxrDhu51uZyA3LCBQaMO6IE5odeG6rW4sIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1467737549005" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>

