<div class="row">
	<div class="col-sm-8">

		<div class="">
			<div class="lead welcome">Welcome to</div>
			<h1 class="display-3 restaurant-name">banh canh ghe Ba Sach</h1>
			<hr class="m-y-2">

			<p class="lead">
				<%= link_to "Menu", menu_path, class: "btn btn-primary btn-lg" %>
				<%= link_to "Contact us", contact_us_path, class: "btn btn-primary btn-lg" %>
      </p>
		</div>
	</div>
</div>
