<% @food_items.each do |f| %>
    <div class="list-group">
      <%= link_to menu_path(section: @curr_section, food_item: f), :class => "list-group-item d-flex justify-content-between align-items-center food-item #{'active' if f.id == @curr_food_item.id}" do %>
          <%= f.name %>
          <span class="badge badge-primary badge-pill">
            <%= toCurrency(f.price)%>
          </span>
      <% end %>
    </div>
<% end %>