// Place all the styles related to the FoodItem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.add-to-cart {
  border-radius: 5px;
  border: 2px solid #d6d6d7;
  padding: 5px;
  margin: 5px 0;
}

.add-to-cart:hover {
  background: deepskyblue;
  color: white;
}