.navbar {
    font-weight: 200;
    letter-spacing: 2px;

}

.navbar .navbar-brand {
  font-weight: 200;
  font-size: x-large;
  text-transform: uppercase;
}



.navbar .nav-item .nav-link {
  //color: white;
}

.cart-text .btn-link {
}

.restaurant-name {
  text-transform: uppercase;
  font-weight: 200;
}

.welcome {
}