$SORT_HEIGHT: 42px;

.img {
  width: 100%;
  height:auto;
}

.menu-title {
  text-decoration: none;
  font-size: x-large;
  font-weight: 200;
}


.menu-title:hover {
  text-decoration: none;
  font-size: x-large;
  font-weight: 400;
}

select {
  //background-color: deepskyblue;
  //color: white;
  font-weight:100;
  min-height: 100%;
  width: 75%;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px;
  border-radius: 3px;
}

select option {
  padding: 5px;
  margin: 5px;
}

.sort__input, .btn {
  height: $SORT_HEIGHT;
}

option:hover {
  background-color: white;
  color: black;
  font-weight:100;
}

.search {
}

.sb {
  position: relative;
}

.sb__input {
  padding: 0 5px;
}

.sb__input+.btn {
  top: 0;
  right: 0;
  height: 100%;
  position: absolute;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pull-right {
  float: right;
}

.search-input {
  outline: none;
  line-height: 1;
  height: $SORT_HEIGHT;
  min-width: 75%;
  //padding: .65rem calc(45px + 1.5rem) .65rem 1.5rem;
  padding: 0 5px;
  border-radius: 3px;
  border: 2px solid #d6d6d7;
}


.category-list {
  margin-bottom: 15px;
  border-bottom: 1px solid #2E2F30;
}

.list-group {
  margin-bottom: 5px;
}

.food-item {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.badge-pill {
  background: deepskyblue;
}

